<% include partials/header.ejs%>


    
    <script language="javascript" type="text/javascript" src="/function_1.js"></script>
    <link rel="stylesheet" type="text/css" href= "/mainpage.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    
    
	<nav class="navbar navbar-default" style=" background-color: #000000; border-left: 0px; border-right: 0px; border-top: 0px;" onload="resize()">
  			<div class="navbar-header" id="head" style=" display: inline-block;">
      		<a class="navbar-brand" href="#">DeltaX</a>
      		<button type="button" style="float:right;" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only"> </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
    	</div>
    	<div class="collapse navbar-collapse" id="myNavbar">
		<div class="container" style="padding-left: 50px; padding-right: 50px;">
    		
    	<ul class="nav navbar-nav" >
    		<form action="/result" method="POST" onsubmit="return check(1)" style="display: inline-block; vertical-align: middle; height: 0px;" >    	
      			<!-- <input type="text" name="search" placeholder="Search..." id="ticket" style="background:#000000; border-bottom: 1px; border-left: 0px; border-right: 0px; border-top: 0px;"> -->
      			<!-- <BUTTON id="b1" style="border-radius: 25px; background:#000000 ; border-left: 0px; border-right: 0px; border-top: 0px;">Submit </BUTTON> -->
    		</form>
    	</ul>
    	
    	<ul class="nav navbar-nav navbar-right " style="display: inline-block;vertical-align: middle;">
      		<li><a href="/addmovie">Add Movie</a></li>
      		
      		<li><!--<img src="Sq.png" id="acctimg">--></li>
      	</ul>
      </div>
  	</div>
  </div>
	</nav>

    
    
    <div style="text-align:center;">
    <div class="scrollmenu1" style="display:inline-block;" onmouseover="overflw(1)" onmouseout="overflw(0)" id="menu">
    <h3 style="color:#ffffff">Popular Movies</h3>
    <% data.forEach(function(show){%>
        <div style="display: inline-block;">
        <h5 style=" color:#ffffff;text-align:center; margin-top: 50px;">(<%=show["title"]%>)</h5>
        <form action="/movie" method="POST" >
          <input type="text" style="visibility: hidden;"  value="<%=show["id"]%>" name="tvid">
        <div style="display: block"  >
        <input type="image" src="<%=show["img_url"]%>" style="height:180px; width:130px;" onClick="this.form.submit()" >
        </form>
        </div>
        <div style="display: block; text-align: center;">
          <form action="/movie" method="POST">
          <input type="text" style="visibility: Hidden;"  value="<%=show["id"]%>" name="tvid">
          <button style="background: #000000; display: block;margin-left: auto;margin-right: auto; border-radius: 20px;" onClick="this.form.submit()">Click to see details</button>
          </form>
        </div>
        </div>
    <% }) %>
    </div>
    </div>
    
<!--    <div class="modal fade" id="myModal" role="dialog">-->
<!--    <div class="modal-dialog">-->
    
      <!-- Modal content-->
<!--      <div class="modal-content" id='pup' style="background:#000000">-->
<!--        <div class="modal-header" style="border: 0px;">-->
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--            <h4 class="modal-title" style="color: #ffffff">Login</h4>-->
<!--        </div>-->
<!--        <div class="modal-body logincl">-->
<!--            <form action="/" method="POST">-->
<!--                <input type="hidden" name="check" value="0" >-->
<!--          <label class="lb">Username: <input type="text" class="pop" placeholder="username" name="user"></label>-->
<!--          <label class="lb">Password: <input type="Password" class="pop" placeholder="password" name="pass"></label>-->
<!--        </div>-->
<!--        <div class="modal-footer" style="border: 0px;">-->
<!--          <button type="submit" name="log" class="btn btn-default" style=" border-radius:25px; background:#000000;">Submit</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
      
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" id='pup' align="center">
        <div class="modal-header" style="border: 0px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" >Signup</h4>
        </div>
        <div class="modal-body " style="align:center;">
           <form action="/" method="POST">
               <input type="hidden" name="check" value="1" >
          <div><label class="lb">Username: <input type="text" class="pop" placeholder="username"  name="user1"></label></div>
          <div><label class="lb">Password: <input type="Password" class="pop" placeholder="password" name="pass1"></label></div>
        </div>
        <div class="modal-footer" style="border: 0px;" align="center">
          <button type="submit" name="log" class="btn btn-default" style=" border-radius:25px; background:#000000; ">Submit</button>
          </form>
        </div>
      </div>
      
    </div>
</div>
<% include partials/footer.ejs%>